body{
    font-family: 'Domine', serif;
    margin: 0;
}

h1{
    font-size: 50px;
}

h2{
    font-size: 40px;
}

h3{
    font-size: 25px;
}

p{
    color: rgba(17, 142, 226, 0.945);
}

    .orange-color{
        color: orange;
    }

    .contain-flexible{
        display: flex;
        margin-bottom: 150px;

    }

    .half-width{
        width: 50%;
        padding-left: 3%;
    }

    .half-width-image{
        width: 500px;
        
        
        

    }

    .top-banner{
        background-image: url(images/top-banner.png);
        background-repeat: no-repeat;
    }

    .link-button{
        text-decoration: none;
        background-image: linear-gradient(orange,tomato);
        color: white;
        font-weight: 800;
        padding: 10px 15px;
        border-radius: 7px;
        
    }

    .father{
        background-image: url(images/dream-bg.png);
        background-repeat: no-repeat;
        background-position: right;
    }

    .location{
        box-shadow: 12px 15px 40px gray;
        width: 40%;
        margin-left: 5%;
        margin-right: 5%;
        padding-left: 5px;
        border-radius: 10px;
    }

    .residence{
        background-image: url(images/exp-bg.png);
        background-repeat: no-repeat;
        background-position: left;
    }

    #city{
        border-left: 5px solid;
        border-image: linear-gradient(salmon,tomato);
        border-image-slice: 1;
    }

    #village{
        border-left: 5px solid;
        border-image: linear-gradient(blue,cyan);
        border-image-slice: 1;

    }

    footer p{
        text-align: center;
    }
